PORT=8080
NODE_ENV=DEVELOPMENT

DB_URI=mongodb://127.0.0.1:27017/restaurant
JWT_SECRET=your-jwt-secret-key
JWT_EXPIRES=90d
JWT_EXPIRES_TIME=90

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

FRONTEND_URL=http://localhost:5173

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_API_KEY=your_stripe_publishable_key
